.circles,
.squares,
.triangles,
.buttons,
.links {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin: 102px 0 0 102px;
}

.circles__item {
	width: 102px;
	height: 102px;
	background-color: turquoise;
	border-radius: 50%;
}

.squares__item {
	width: 102px;
	height: 102px;
	background-color: plum;
	border-radius: 10%;
}

.triangles__item {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 80px solid lightskyblue;
}

.buttons__item,
.scroll__button,
.scroll__to-top {
	width: 142px;
	height: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	background-color: turquoise;
	border: none;   
	border-radius: 20%;
}

.buttons__item:hover,
.scroll__button:hover,
.scroll__to-top:hover {
	cursor: pointer;
}

.links__item {
	font: 700 24px/32px 'Times New Roman';
	color: darkcyan;
	text-decoration: none;
}

.links__item:hover {
	cursor: pointer;
}

.scroll {
	margin: 40px 60px;
}

.scroll__buttons {
	width: 445px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.scroll__box {
	width: 400px;
	height: 200px;
	padding: 20px;
	font: 700 18px/24px 'Arial';
	border: 4px dotted turquoise;
	border-radius: 4%;
	overflow-y:scroll;
}

